{% extends "base.html" %} {% block body %}

<h1 class="text-center  ">Welcome to the News Web Page</h1>
<div class="row row-cols-3 m-2 border border-2 rounded">
  {% for article in articles %}
  {% if article.urlToImage %}
  <div class="card">
    <img src="{{article.urlToImage}}" class="card-img-top " />
    <div class="card-body">
    <h2 class="card-title">{{article["title"]}}</h2>
    <p class="btn btn-primary">{{article["author"]}}</p>
    <p class="card-text">{{article["description"]}}</p>
    </div>
  </div>
    {% endif %}
   {% endfor %}
</div>

{% endblock %}
